

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}



.tittle{
  color: white;
}

.card {
  padding: 2em;
  height: 26rem;
}

footer{
  padding-top: 15px;
  color: white;
}


